body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    margin: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(153, 55, 55);
    border-radius: 25px;
    opacity: 0.8;
}